<header>
    <h2>Portfolio</h2>
    <div class="menu-toggle" id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav id="nav-menu">
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'about' %}">À propos</a></li>
            <li><a href="{% url 'projects' %}">Projets</a></li>
            <li><a href="{% url 'skills' %}">Compétences</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</header>